################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoreCodedChatbot.Web/.vs/CoreCodedChatbot.Web/v16
/CoreCodedChatbot.Web/CoreCodedChatbot.Web/obj
/CoreCodedChatbot.Web/.vs/CoreCodedChatbot.Web/config
/CoreCodedChatbot.Web/CoreCodedChatbot.Web/bin/Debug/netcoreapp3.0
/CoreCodedChatbot.Web/.vs/CoreCodedChatbot.Web/DesignTimeBuild/.dtbcache
/CoreCodedChatbot.Web/CoreCodedChatbot.WebApp/bin/Debug/netcoreapp3.1/CoreCodedChatbot.WebApp.deps.json
/CoreCodedChatbot.Web/CoreCodedChatbot.WebApp/obj
/CoreCodedChatbot.Web/CoreCodedChatbot.WebApp/bin/Debug/netcoreapp3.0
/CoreCodedChatbot.Web/CoreCodedChatbot.Web.sln.DotSettings.user
/CoreCodedChatbot.Web/CoreCodedChatbot.Web/CoreCodedChatbot.Web.csproj.user
/CoreCodedChatbot.Web/CoreCodedChatbot.Web/bin/Debug/netcoreapp3.1
/CoreCodedChatbot.Web/CoreCodedChatbot.WebApp/bin/Debug/netcoreapp3.1
/CoreCodedChatbot.Web/CoreCodedChatbot.Web/node_modules
