@model CoreCodedChatbot.Web.ViewModels.Shared.LoggedInTwitchUser;


<br />
<div class="alert alert-dark" role="alert">
        @if (User.Identity.IsAuthenticated)
        {
    <p>
        <text>Welcome </text>
        @Model.Username<text>! </text>
        <text>You have </text>@Model.Vips<text> Vips!</text>
        <span class="float-right">
            <button type="button" class="btn btn-sm btn-success" onclick="showRequestModal()">Request</button>
        </span>
        @if (ViewContext.ViewBag.UserIsMod)
        {
            <br />
            <br />
            if (ViewContext.ViewBag.IsPlaylistOpen)
            {
                <button type="button" class="btn btn-sm btn-success" onclick="showVeryClosePlaylistModal()">Close Playlist</button>
            }
            else
            {
                <button type="button" class="btn btn-sm btn-success" onclick="showOpenPlaylistModal()">Open Playlist</button>
            }
            <button type="button" class="btn btn-sm btn-success" onclick="showEmptyPlaylistModal()">Empty Playlist</button>
            <br />
        }
    </p>
        }
        else
        {
            @Html.ActionLink("Login", "Index", "Login", new { redirectUrl = "/Chatbot/List" })
            <text> with Twitch to access more features!</text>
        }
</div>