@model CoreCodedChatbot.Web.ViewModels.Playlist.PlaylistViewModel


<div id="vipQueue" class="vipQueue">
    @{
        await Html.RenderPartialAsync("Partials/List/VipList", Model.VipList);
    }
</div>

<div id="regularQueue" class="regularQueue">
    @{
        await Html.RenderPartialAsync("Partials/List/RegularList", Model.RegularList);
    }
</div>
