p {
    &.quote-username {
        color: #daa520;
    }

    &.quote-text {
        color: #bbbbbb;
    }
}

input.edit-quote {
    width: 100%;
    margin-bottom: 0.5rem;
}

button {
    &.edit-quote {
        float: right;

        &.edit-ok {
            margin-left: .5rem;
        }

        &.edit-cancel {

        }
    }
}

div.accordion {
    div.card {
        background-color: #444;

        div.card-header {
            background-color: #333;
        }
    }
}