@model CoreCodedChatbot.Web.ViewModels.SongLibrary.SongLibraryRecords

@{
    ViewBag.Title = "Current Playlist";
    Layout = "_Layout";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Song Name</th>
            <th scope="col">Song Artist</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var record in Model.Songs)
        {
            <tr>
                <td>@record.Title</td>
                <td>@record.Artist</td>
            </tr>
        }
    </tbody>

</table>
