@model CoreCodedChatbot.Web.ViewModels.Counter.CounterViewModel

<h2 class="counterText">@Html.DisplayTextFor(m => m.CounterText)</h2>

<script>
    setTimeout(function () { window.location.reload() }, 3000);

    function cache_clear() {
        window.location.reload();
    }
</script>