@using CoreCodedChatbot.ApiContract.ResponseModels.DevOps.ChildModels
@model CoreCodedChatbot.Web.ViewModels.Development.RaiseBugViewModel

@{
    ViewBag.Title = "Bug Submitted";
    Layout = "_Layout";
}

<p>Thank you for submitting a bug for review, it will be looked at and scheduled to be fixed as soon as possible!</p>